@model web8.Models.Mobile

<div class="row">
    <div class="col">
        <img src="@Model.Image" alt="@Model.Name class="img-fluid" height="400" width="300" />
    </div>
    <div class="col">
        <div class="card">
            <h3 class="alert alert-success">@Model.Name</h3>
            <h4 class="text text-primary">Brand: @Model.Brand</h4>
            <h4 class="text text-primary">Color: @Model.Color</h4>
            <h4 class="text text-primary">Price: @Model.Price $</h4>
            @if (Model.Quantity >= 1)
            {
                <h4 class="text text-primary">Quantity: @Model.Quantity $</h4>
            }
            else
            {
                <h4 class="text text-danger">Out of stock</h4>
            }
            <h4 class="text text-primary">Manufacture date: @Model.Date.ToShortDateString()</h4>
            @if (Model.BestSeller)
            {
                <h4 class="text text-danger">@Model.BestSeller</h4>
            }
        </div>

    </div>
</div>