@model ICollection<Order>

@{
    int quantity = 0;

    double price = 0;

}

<div class="container text-center mt-3" style="background-color:antiquewhite">

    <table class="table table-bordered">
        <tr>
            <th colspan="3" class="h3 bg-light text-success">Order List</th>

        </tr>
        <tr>
            <th>Order Id</th>
            <td>Book Image</td>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @foreach (var order in Model)
        {



            <tr>
                <td>@order.Id</td>
                <td>
                    <a class="font-weight-bold" asp-controller="Book" asp-action="Detail" asp-route-id="@order.Id">
                        <img src="@order.Book.Image" width="100" height="100">
                    </a>
                </td>
                <td>
                    @order.Book.Title
                </td>
                <td>
                    @order.OrderQuantity
                </td>
                <td>
                    @order.OrderPrice
                </td>
                <td>
                    @order.OrderDate
                </td>
                <td>
                    @order.UserEmail
                </td>
                <td>
                    @order.Status
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Accept" asp-route-id="@order.Id"
                   onclick="    return confirm('Are you sure to accept this order ?');">
                        Accept
                    </a>
                    <a class="btn btn-warning" asp-controller="Order" asp-action="Reject" asp-route-id="@order.Id"
                   onclick="    return confirm('Are you sure to reject this order ?');">
                        Reject
                    </a>
                    <a class="btn btn-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id"
                   onclick="    return confirm('Are you sure to delete this order ?');">
                        Cancel
                    </a>
                </td>
            </tr>

            if (order.Status == "Accept" || order.Status == "Pending")
            {
                quantity += order.OrderQuantity;

                price += order.OrderPrice;
            }
            else if (order.Status == "Reject" )
            {
                quantity -= order.OrderQuantity;

                price -= order.OrderPrice;
            }
        }
        <tr>
            <td>Total quanity: @quantity</td>
            <td>Total price: @price $</td>
            <td></td>
        </tr>
    </table>
</div>

